* {
  margin: 0;
  box-sizing: border-box;
}
body {
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 3%;
}
#weather {
  position: absolute;
  align-self: flex-end;
}
#clock {
  margin-top: 20%;
  font-size: 10vw;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login-form:not(.hidden) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type="submit"] {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: tomato;
  color: white;
}
input[type="text"] {
  height: 50px;
  width: 300px;
  background-color: black;
  opacity: 0.4;
  font-size: 20px;
  color: white;
}
input[type="text"]:hover {
  opacity: 1;
}
.hidden {
  display: none;
}
#todo-list {
  height: 40vh;
  font-size: 30px;
}
#quote {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#quote div:first-child {
  font-size: 40px;
}
#todo-list li {
  position: relative;
}
#todo-list button {
  border: none;
  position: absolute;
  background-color: white;
  top: 15px;
  border-radius: 20%;
  margin-left: 10px;
}
